/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
    scroll-behavior: smooth;
}

body {
    max-width: 320px;
    margin: auto;
    padding: 19px 25px;
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    background-color: black;
}

header {
    background-image: url(../img/screen-code.jpg);
    border: 2px solid white;
    color: white;
    padding: 30px;
}

article {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
}

footer {
    border: 2px solid #2bffaa;
    color: white;
    text-align: center;
    font-size: 9px;
}

h1 {
    font-weight: 700;
    font-size: 16px;
}

figcaption {
    font-size: 12px;
    padding: 6px 10px;
}

figure {
    margin: 16px 10px 32px 10px;
    box-shadow: lightgray 0 0 10px 1px;
}

img {
    max-width: 100%;
}

.title {
    color: #2af9b2;
    font-weight: 100;
    font-style: italic;
}

.intro {
    background-color: #2afca6;
    padding: 20px 20px 26px 20px;
    margin: 20px 0;
    color: #084934;
}   

.information {
    font-size: 13px;
    color: #bababa;
}

.date {
    font-weight: bold;
    color: black;
}

.autor {
    color: #18fca8;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    background-color: rgb(68, 67, 67);
    padding: 5px 15px;
}

header h1 {
    font-family:'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

header p {
    opacity: 70%;
}